.Peer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Peer .glass-file-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Peer .glass-file-box p{
    font-size: 1.8rem;
    color: white;
    font-family: PolySans Neutral;
}

.Peer .fluence-desc{
    padding-top: 2rem;
}

.Peer .fluence-desc p{
    font-size: 1.2rem;
    color: #C3C3C3;
    font-family: PolySans Neutral;
}

.Peer .relay-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.Peer .relay-box{
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.Peer .relay-con .link {
    height: 32px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    font-size: var(--font-size-md);
    font-family: PolySans Slim;
    background: none;
    border: 2px solid var(--primary-color);
    letter-spacing: 1px;
    outline: none;
    border-radius: 6px;
    color: white;
    margin-right: 20px;
}

.Peer .connect-btn {
  padding: 0px 10px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  font-family: PolySans Median;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  z-index: 2;
  color: black;
  background-color: var(--secondary-color);
  transition: 0.3s;
  z-index: 3;
}

.Peer .network-info{
    width: 100%;
    max-width: 800px;
    display: flex;
    gap: 50px;
}

.Peer .id-bold p{
    color:var(--secondary-color);
    font-family: PolySans Neutral;
    font-size: 1.2rem;
}

.Peer .keys{
    color:var(--secondary-color);
    font-family: PolySans Neutral;
    font-size: 1.2rem;
}

.Peer .id-med p{
    color:white;
    font-family: PolySans Slim;
    font-size: 1.2rem;
}

.Peer  .network-head{
    font-size: 1.8rem;
    color: white;
    font-family: PolySans Neutral;
}

/* .Peer .glass-file-desc{
    flex-direction: column;
    max-width: 800px;
    width: 100%;
} */